<button (click)="show()">Click to show odd</button>
<div class="container-wrapper" 
*ngIf = "showNum"
[ngStyle]="{
  border:'2px solid coral',
  borderRadius:'.3em'
}">
  <div *ngFor = "let number of numbers" [ngClass]="{odd: showNum}">
    <!-- <div *ngIf = "number % 2 !== 0">{{number}}</div> -->
    <div *IfDirective = "number % 2 !== 0">{{number}}</div>
  </div>
</div>
<div class="container-wrapper" *ngIf = "!showNum">
  <div class="content" *ngFor = "let number of numbers">
    <div 
      even-directive 
      [defaultColor]="'aquamarine'"
      [highlightColor]="'coral'"
      *ngIf = "number % 2 === 0">{{number}}</div>
  </div>
</div>
<div [ngSwitch]="value">
  <p *ngSwitchCase="10">value is : {{value}}</p>
  <p *ngSwitchDefault>No value</p>
</div>
<router-outlet></router-outlet>